# Résultats de simulation
results/

# Cache et code généré Simulink
slprj/
*.slxc
*_grt_rtw/
*_ert_rtw/
codegen/

# Sauvegardes MATLAB
*.asv
*.autosave
*.m~

# Fichiers auto-générés du Projet MATLAB
resources/project/

# Système
.DS_Store
Thumbs.db